$font-stack: Trebuchet MS, sans-serif;

//Light color-scheme
$bg-color: #FDFBEE;
$font-color: #3b3b3b;
$accent-color: #025404;

//Dark color-scheme
$bg-color-dark: #100430;
$font-color-dark: #dbd5d5;
$accent-color-dark: #f2571f;

body {
    font-family: $font-stack;
    background-color: $bg-color;
    color: $font-color;
}