@use "sass:color";

$font-stack: Lucida Sans, sans-serif;

//Light color-scheme
$bg-color: #FDFBEE;
$font-color: #3b3b3b;
$accent-color: #025404;

//Dark color-scheme
$bg-color-dark: #100430;
$font-color-dark: #dbd5d5;
$accent-color-dark: #e9754b;

//Font-sizes
$fontsize-h1: 8rem;
$fontsize-h2: 6rem;
$fontsize-h3: 5rem;
$fontsize-p: 3rem;
$fontsize-nav: 2rem;

//font-sizes media max-width 899px
$fontsize-h1-mobile: 6rem;
$fontsize-h2-mobile: 4rem;
$fontsize-h3-mobile: 3.5rem;
$fontsize-p-mobile: 2rem;

//mixin för logotyp
@mixin shape($size, $color, $circle) {
    width: $size;
    height: $size;
    background-color: $color;
    display: inline-block;
    font-size: 6rem;
    padding-right: 10px;
    color: white;

    @if $circle {
        border-radius: 50%;
    }
}

//mixin för article element
@mixin article() {
    margin-bottom: 8rem;
    padding: 3rem;
    max-width: 80%;
    justify-self: center;
    background-color: white;
    border-radius: 1rem;
}

@mixin section() {
    margin-bottom: 4rem;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    background-color: color.scale($bg-color, $lightness: -5%);
    box-shadow: 0.3rem 0rem 0.3rem rgb(0, 0, 0, 0.6),
        -0.3rem 0rem 0.3rem rgb(0, 0, 0, 0.5);
}

//grundinställning för webbplatsen
* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}


//typsnitt, storlekar och färger samt margin/padding för dessa
body {
    font-family: $font-stack;
    background-color: $bg-color;
    color: $font-color;
}

h1 {
    font-size: $fontsize-h1;
    color: $accent-color;
    text-shadow: 2px 2px 3px black;
    padding-top: 15vh;
    margin-bottom: 1em;
}

h2 {
    font-size: $fontsize-h2;
    color: $accent-color;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: $fontsize-h3;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    font-size: $fontsize-p;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2em;
    text-align: left;
}

//logotyp storlek och färg i original tema
#shape-circle {
    @include shape(70px, $accent-color, true);
}

#shape-square {
    @include shape(70px, $accent-color, false);
}