@use "sass:color";

$font-stack: Lucida Sans, sans-serif;

//Light color-scheme
$bg-color: #FDFBEE;
$font-color: #3b3b3b;
$accent-color: #025404;

//Dark color-scheme
$bg-color-dark: #100430;
$font-color-dark: #dbd5d5;
$accent-color-dark: #e9754b;

//Font-sizes
$fontsize-h1: 8rem;
$fontsize-h2: 4rem;
$fontsize-h3: 3rem;
$fontsize-p: 2rem;
$fontsize-nav: 2.5rem;

@mixin shape($size, $color, $circle) {
    width: $size;
    height: $size;
    background-color: $color;
    display: inline-block;
    font-size: 8rem;
    padding-right: 10px;
    color: white;

    @if $circle {
        border-radius: 50%;
    }
}

@mixin article() {
    margin-bottom: 2em;
    padding: 3em;
    border: 1px solid $accent-color;
    background-color: color.scale($bg-color, $lightness: -5%);
    box-shadow: 0.2em 0em 0.2em rgb(0, 0, 0, 0.6),
        -0.2em 0em 0.2em rgb(0, 0, 0, 0.6);
}

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: $font-stack;
    background-color: $bg-color;
    color: $font-color;
}

h1 {
    font-size: $fontsize-h1;
    color: $accent-color;
    text-shadow: 2px 2px 3px black;
    padding-top: 15vh;
    margin-bottom: 1em;
}

h2 {
    font-size: $fontsize-h2;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: $fontsize-h3;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    font-size: $fontsize-p;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2em;
}

#shape-circle {
    @include shape(100px, $accent-color, true);
}

#shape-square {
    @include shape(100px, $accent-color, false);
}