@keyframes rotateAnimation {
    0% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);

    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1, 1);
        box-shadow: 10px 5px 5px red,
            -10px -5px 5px red;
    }

    25% {
        box-shadow: 10px 5px 5px blue,
            -10px -5px 5px blue;
    }

    50% {
        transform: scale(1.05, 1.05);
    }

    75% {
        box-shadow: 10px 5px 5px green,
            -10px -5px 5px green;
    }

    100% {
        transform: scale(1, 1);
        box-shadow: 10px 5px 5px magenta,
            -10px -5px 5px magenta;
    }
}

@keyframes imagesAnimation {
    0% {
        transform: translate(-2000px, -2000px)
    }

    25% {
        transform: translate(-750px, -750px)
    }

    50% {
        transform: translate(0px, 0px)
    }

    75% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(0deg);
    }
}