@use "base";

.container {
    max-width: 1200px;
    margin: 0 auto;
}

//mainnav
nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        margin-right: -5px;
    }

    a {
        display: block;
        text-decoration: none;
        padding: 10px 16px;
        color: base.$font-color;
    }

    a:hover {
        color: base.$bg-color;
        background-color: base.$accent-color;
    }
}

main {
    max-width: 900px;
    display: grid;
}

section {
    display: grid;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$bg-color-dark;
        color: base.$font-color-dark;
    }

    nav {
        a {
            color: base.$font-color-dark;
        }

        a:hover {
            color: base.$bg-color-dark;
            background-color: base.$accent-color-dark;
        }
    }
}