@use "base";
@use "sass:color";

.container {
    max-width: 1200px;
    margin: 0 auto;
}

//mainnav
nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        margin-right: -5px;
    }

    a {
        display: block;
        text-decoration: none;
        padding: 10px 16px;
        color: base.$font-color;
        font-size: base.$fontsize-h3;
    }

    a:hover {
        color: base.$bg-color;
        background-color: base.$accent-color;
    }
}

main {
    max-width: 900px;
    display: grid;
}

section {
    display: grid;
}

article {
    @include base.article;
}

@media screen and (max-width: 600px) {

    //styling hamburger menu
    .top-nav {
        #hamburgerMenu {
            display: inline-block;
            cursor: pointer;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 35px;
            height: 5px;
            background-color: black;
            margin: 6px 0;
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$bg-color-dark;
        color: base.$font-color-dark;
    }

    h1 {
        color: base.$accent-color-dark;
    }

    nav {
        a {
            color: base.$font-color-dark;
        }

        a:hover {
            color: base.$bg-color-dark;
            background-color: base.$accent-color-dark;
        }
    }

    .bar1,
    .bar2,
    .bar3 {
        background-color: white !important;
    }

    article {
        border-color: white;
        background-color: color.scale(base.$bg-color-dark, $lightness: 5%);
        box-shadow: 0.2em 0em 0.2em rgba(255, 255, 255, 0.6),
            -0.2em 0em 0.2em rgba(255, 255, 255, 0.6);
    }
}