@use "base";
@use "sass:color";

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.top-nav {
    display: grid;
    grid-template-columns: auto auto;
}

#hamburger-menu {
    display: none;
}

header {
    padding: 1rem;
}

//mainnav
nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row !important;
        justify-self: flex-end;
    }

    li {
        display: inline-block;
        margin-right: -5px;
    }

    a {
        display: block;
        text-decoration: none;
        padding: 10px 16px;
        color: base.$font-color;
        font-size: base.$fontsize-nav;
    }

    a:hover {
        color: base.$bg-color;
        background-color: base.$accent-color;
    }
}

.current-page {
    background-color: base.$accent-color;
}

main {
    max-width: 900px;
    display: grid;
    margin: 0 auto;
    padding: 2rem;
}

section {
    display: grid;
}

article {
    @include base.article;
}

img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

@media screen and (max-width: 600px) {
    .top-nav {
        display: grid;
        grid-template-columns: auto auto;
    }

    //styling hamburger menu
    .top-nav {
        #hamburger-menu {
            display: inline-block;
            cursor: pointer;
            justify-self: flex-end;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 35px;
            height: 5px;
            background-color: black;
            margin: 6px 0;
        }

        #main-nav {
            display: none;
            padding-top: 1rem;
            grid-area: 2 / 1 / 3 / 3;
        }
    }
}

nav {
    ul {
        display: flex;
        flex-direction: column;
        grid-area: 1 / 2 / 2 / 3;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$bg-color-dark;
        color: base.$font-color-dark;
    }

    h1 {
        color: base.$accent-color-dark;
    }

    #shape-circle {
        @include base.shape(100px, base.$accent-color-dark, true);
    }

    #shape-square {
        @include base.shape(100px, base.$accent-color-dark, false);
    }

    nav {
        a {
            color: base.$font-color-dark;
        }

        a:hover {
            color: base.$bg-color-dark;
            background-color: base.$accent-color-dark;
        }
    }

    .bar1,
    .bar2,
    .bar3 {
        background-color: white !important;
    }


    .current-page {
        background-color: base.$accent-color-dark;
    }

    article {
        border-color: white;
        background-color: color.scale(base.$bg-color-dark, $lightness: -50%);
        box-shadow: 0.2em 0em 0.2em rgba(255, 255, 255, 0.6),
            -0.2em 0em 0.2em rgba(255, 255, 255, 0.6);
    }
}