@use "base";
@use "keyframes";
@use "sass:color";

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.top-nav {
    display: grid;
    grid-template-columns: auto auto;
}

#hamburger-menu {
    display: none;
}

header {
    padding: 1rem;
}

//mainnav
nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-self: flex-end;
    }

    li {
        display: inline-block;
        margin-right: -5px;
    }

    a {
        display: block;
        text-decoration: none;
        padding: 10px 16px;
        color: base.$font-color;
        font-size: base.$fontsize-nav;
    }

    a:hover {
        color: base.$bg-color;
        background-color: base.$accent-color;
    }
}

.current-page {
    background-color: base.$accent-color;
}

.current-page {
    a {
        color: white;
    }
}

main {
    max-width: 900px;
    display: grid;
    margin: 0 auto;
    padding: 2rem;
}

section {
    display: grid;
    @include base.section;
}

article {
    @include base.article;
}

.img img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.button button {
    @include base.button(base.$accent-color);
}

.button button:hover {
    background-color: color.scale(base.$accent-color, $lightness: 8%);
}

footer {
    @extend header;
}

/*Animationer*/

.animation-scale:hover {
    animation: scaleAnimation 1s linear infinite;
}

.rotate {
    animation: rotateAnimation 2s linear infinite alternate;
}

.image {
    animation: imagesAnimation 5s linear;
}

@media screen and (max-width: 899px) {
    body {
        h1 {
            font-size: base.$fontsize-h1-mobile;
        }

        h2 {
            font-size: base.$fontsize-h2-mobile;
        }

        h3 {
            font-size: base.$fontsize-h3-mobile;
        }

        p {
            font-size: base.$fontsize-p-mobile;
            line-height: 3rem;
            padding: 1rem;
        }
    }

    .top-nav {
        display: grid;
        grid-template-columns: auto auto;
    }

    //styling hamburger menu
    .top-nav {
        #hamburger-menu {
            display: inline-block;
            cursor: pointer;
            justify-self: flex-end;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 35px;
            height: 5px;
            background-color: black;
            margin: 6px 0;
        }

        #main-nav {
            display: none;
            padding-top: 1rem;
            grid-area: 2 / 1 / 3 / 3;
        }
    }

    nav {
        ul {
            flex-direction: column;
            justify-self: stretch;
        }
    }

    main {
        padding: 1rem
    }

    section {
        padding: 1rem;
    }

    article {
        width: 100%;
    }

    .button button {
        font-size: 3rem;
    }

    .image img {
        width: 50%;
        height: auto;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$bg-color-dark;
        color: base.$font-color-dark;
    }

    h1 {
        color: base.$accent-color-dark;
    }

    h2 {
        color: base.$accent-color-dark;
    }

    #shape-circle {
        background-color: base.$accent-color-dark;
    }

    #shape-square {
        background-color: base.$accent-color-dark;
    }

    nav {
        a {
            color: base.$font-color-dark;
        }

        a:hover {
            color: base.$bg-color-dark;
            background-color: base.$accent-color-dark;
        }
    }

    .bar1,
    .bar2,
    .bar3 {
        background-color: white !important;
    }


    .current-page {
        background-color: base.$accent-color-dark;
    }

    article {
        background-color: color.scale(base.$bg-color-dark, $lightness: 10%);
    }

    section {
        background-color: color.scale(base.$bg-color-dark, $lightness: -15%);
        border-color: white;
        box-shadow: 0.3rem 0rem 0.3rem rgba(255, 255, 255, 0.6),
            -0.3rem 0rem 0.3rem rgba(255, 255, 255, 0.5);
    }

    .button button {
        background-color: base.$accent-color-dark;
    }

    .button button:hover {
        background-color: color.scale(base.$accent-color-dark, $lightness: 15%);
    }
}