.container {
    max-width: 1200px;
    margin: 0 auto;
}

//mainnav
nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        margin-right: -5px;
    }

    a {
        display: inline-block;
        text-decoration: none;
        padding: 10px 16px;
    }
}